body {
    background: linear-gradient(to right, #EAECC6, #2BC0E4);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 1.125rem;
}

a:link {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

a[target="_blank"]::after {
    font-family: "Material Symbols Rounded";
    content: "open_in_new";
}



