/* Disable Flickity by default */
#catalogoOne:after {
    content: '';
  }
  
@media screen and (max-width: px) {
    /* Enable Flickity for smaller screens */
    #catalogoOne:after {
      content: 'flickity';
      display: none; /* hide :after */
    }
}


@media  (max-width: 1048px) {
    
body{
    background-color: rgb(0, 0, 0);
}

footer{
    flex-direction: column;
}

#bpesquisa{
  
width: 450px;
    

}



.fav--click{
    position: absolute;
    margin-left: 200px;
}


    
}

@media  (max-width: 850px){

#bpesquisa{
  
width: 300px;

}

#pesquiso{
    width: 200px;
    height: 25px;
    background-color: #E8742C;
    border: 0px;
    outline: none;
    color: white;

}

.fav--click{
    
    margin-left: 100px;
    display: none;
}




}
    @media(max-width: 748px){
   

        #bpesquisa{
  
            width: 250px;
            
            }
            
            #pesquiso{
                width: 200px;
                height: 25px;
                background-color: #E8742C;
                border: 0px;
                outline: none;
                color: white;
    }
}
@media (max-width:  697px){

    #bpesquisa{
  
        width: 200px;
        
        }
        
        #pesquiso{
            width: 150px;
            height: 25px;
            background-color: #E8742C;
            border: 0px;
            outline: none;
            color: white;
}

}
@media(max-width: 647px){
    #bpesquisa{
  
        width: 100px;
        
        }
        
        #pesquiso{
            width: 100px;
            height: 25px;
            background-color: #E8742C;
            border: 0px;
            outline: none;
            color: white;
}

}

@media(max-width: 425px){
    #bpesquisa{
  
        width: 100px;
        
        }
        
        #pesquiso{
            width: 70px;
            height: 25px;
            background-color: #E8742C;
            border: 0px;
            outline: none;
            color: white;
}
#logomarca{
    display: none;
}
}